# Never manage these
.bash_history
.lesshst
.kbackup/
.ssh/known_hosts
.ssh/known_hosts.*

# Repo files that shouldn't deploy to ~/
README.md

# Exclude work files on non-work machines
{{ if not .work_machine }}
.work.sh
.work_secrets.sh
{{ end }}
