encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1904ts8lmx63q9yd99dxk9yuq5vq0zrnckhh3u2f6hjc6yneumpeqmu62ec"

[data]
    work_machine = {{ promptBool "Is this a work machine" }}
